* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

.container {
  margin: 2rem auto;
  border: 3px solid #0C2C45;
  width: 60%;
  min-width: 450px;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.6);
  /* border-radius: 5px; */
  overflow: hidden;
}

header {
  background-color: #0C2C45;
  padding: 1rem;
  text-align: center;
}

header h1 {
  padding: 0 0 0.5rem 0;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
}

header .input-wrapper {
  margin: 0 0 1rem 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}

header input {
  width: 90%;
  display: block;
  padding: 0.75rem 2rem;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.6);
  transition: background 0.2s;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

header input:hover,
header input:focus {
  background: white;
}

header button {
  width: 5rem;
  outline: none;
  border: none;
  padding: 1rem;
  background: teal;
  opacity: 0.6;
  color: white;
  cursor: pointer;
  transition: opacity 0.2s;
}

header button:hover {
  opacity: 1;
}

main .status {
  padding: 1.5rem;
  text-align: center;
  font-size: 2rem;
  background-color: #ececec;
  color: #0C2C45;
  opacity: 0.7;
  display: none;
}

ul {
  list-style: none;
}

main li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

main li:nth-child(2n + 1) {
  background-color: #cde;
}

main li:nth-child(2n) {
  background-color: #ececec;
}

main li p {
  font-size: 1.1rem;
  margin-left: 1rem;
  color: #0C2C45;
}

main li .buttons {
  display: flex;
}

main li button {
  width: 2.25rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 0.1rem;
  padding: .6rem;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
}

main li button:hover {
  opacity: 1;
  box-shadow: 0.2rem 0.2rem 0.4rem #333;
}

main li .btn-todo-up {
  background-color: #3F1C4D;
  color: white;
}

main li .btn-todo-down {
  background-color: #03658C;
  color: white;
}

main li .btn-todo-remove {
  background-color: #B3212E;
  color: white;
}
